In [18]:
import pandas as pd

df = pd.read_csv('data/ResalePricesSingapore_sorted.csv')

In [ ]:
def get_month_year_town(matric_num: str):
        """Convert matric digits to month, year and town"""
        year = int(matric_num[-2])
        commence_month = int(matric_num[-3])
        town = int(matric_num[-4])
        if commence_month >=10 or year >= 10 or town >= 10:
            raise ValueError('Invalid values for month, year or town')
        
        if commence_month == 0:
            commence_month_str = '10'
            end_month_str = '12'
        else:
            commence_month_str = f'0{commence_month}'
            if commence_month >= 8:
                end_month_str = str(commence_month+2)
            else:
                end_month_str = f'0{commence_month+2}'
            
        
        if year<4:
            year_str = f'202{year}'
        else:
            year_str = f'201{year}'

        town_str = MAPPER['town'][str(town)]

        return f'{year_str}-{commence_month_str}', f'{year_str}-{end_month_str}', town_str

In [19]:
commence_month = '2021-04'
end_month = '2021-06'
town = 'CHOA CHU KANG'

df = df[(df['month'] >= commence_month) & (df['month'] <= end_month)]
df = df[df['town'] == town]
df

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price
148475,2021-04,CHOA CHU KANG,2 ROOM,166A,TECK WHYE CRES,16 TO 18,47.0,Model A,2015,250000.0
148476,2021-04,CHOA CHU KANG,4 ROOM,25,TECK WHYE LANE,07 TO 09,92.0,New Generation,1979,320000.0
148477,2021-04,CHOA CHU KANG,3 ROOM,490B,CHOA CHU KANG AVE 5,07 TO 09,68.0,Model A,2016,340000.0
148478,2021-04,CHOA CHU KANG,4 ROOM,25,TECK WHYE LANE,04 TO 06,92.0,New Generation,1979,342000.0
148479,2021-04,CHOA CHU KANG,4 ROOM,26,TECK WHYE LANE,07 TO 09,99.0,New Generation,1979,345000.0
...,...,...,...,...,...,...,...,...,...,...
152857,2021-06,CHOA CHU KANG,EXECUTIVE,287,CHOA CHU KANG AVE 2,04 TO 06,146.0,Maisonette,1990,633888.0
152858,2021-06,CHOA CHU KANG,EXECUTIVE,108,TECK WHYE LANE,01 TO 03,146.0,Maisonette,1989,640000.0
152859,2021-06,CHOA CHU KANG,EXECUTIVE,419,CHOA CHU KANG AVE 4,10 TO 12,148.0,Apartment,1993,650000.0
152860,2021-06,CHOA CHU KANG,EXECUTIVE,759,CHOA CHU KANG NTH 5,04 TO 06,146.0,Maisonette,1995,655000.0
152861,2021-06,CHOA CHU KANG,EXECUTIVE,208,CHOA CHU KANG CTRL,10 TO 12,146.0,Maisonette,1989,685000.0

In [15]:
min_price = df['resale_price'].min()
avg_price = df['resale_price'].mean()
std_price = df['resale_price'].std()

min_area = df['floor_area_sqm'].min()
avg_area = df['floor_area_sqm'].mean()
std_area = df['floor_area_sqm'].std()

print(f"Minimum resale price: ${min_price}")
print(f"Average resale price: ${avg_price:.2f}")
print(f"Standard deviation of resale price: ${std_price:.2f}")
print(f"Minimum floor area: {min_area} sqm")
print(f"Average floor area: {avg_area:.2f} sqm")
print(f"Standard deviation of floor area: {std_area:.2f} sqm")

Minimum resale price: $245000.0
Average resale price: $483510.72
Standard deviation of resale price: $85352.66
Minimum floor area: 46.0 sqm
Average floor area: 106.75 sqm
Standard deviation of floor area: 19.83 sqm