In [1]:
import pandas as pd

df = pd.read_csv('../data/ResalePricesSingapore_sorted.csv')

In [2]:
def get_month_year_town(matric_num: str):
        """Convert matric digits to month, year and town"""
        year = int(matric_num[-2])
        commence_month = int(matric_num[-3])
        town = int(matric_num[-4])
        if commence_month >=10 or year >= 10 or town >= 10:
            raise ValueError('Invalid values for month, year or town')
        
        if commence_month == 0:
            commence_month_str = '10'
            end_month_str = '12'
        else:
            commence_month_str = f'0{commence_month}'
            if commence_month >= 8:
                end_month_str = str(commence_month+2)
            else:
                end_month_str = f'0{commence_month+2}'
            
        
        if year<4:
            year_str = f'202{year}'
        else:
            year_str = f'201{year}'

        town_str = MAPPER['town'][str(town)]

        return f'{year_str}-{commence_month_str}', f'{year_str}-{end_month_str}', town_str

In [3]:
commence_month = '2017-02'
end_month = '2017-04'
town = 'ANG MO KIO'

df = df[(df['month'] >= commence_month) & (df['month'] <= end_month)]
df = df[df['town'] == town]
df

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price
54434,2017-02,ANG MO KIO,2 ROOM,323,ANG MO KIO AVE 3,04 TO 06,44.0,Improved,1977,233000.0
54435,2017-02,ANG MO KIO,2 ROOM,510,ANG MO KIO AVE 8,07 TO 09,44.0,Improved,1980,238000.0
54436,2017-02,ANG MO KIO,2 ROOM,323,ANG MO KIO AVE 3,07 TO 09,44.0,Improved,1977,245000.0
54437,2017-02,ANG MO KIO,3 ROOM,180,ANG MO KIO AVE 5,01 TO 03,68.0,New Generation,1981,253000.0
54438,2017-02,ANG MO KIO,3 ROOM,608,ANG MO KIO AVE 5,04 TO 06,67.0,New Generation,1980,270000.0
...,...,...,...,...,...,...,...,...,...,...
57504,2017-04,ANG MO KIO,5 ROOM,501,ANG MO KIO AVE 5,10 TO 12,121.0,Improved,1981,635000.0
57505,2017-04,ANG MO KIO,5 ROOM,588C,ANG MO KIO ST 52,13 TO 15,112.0,DBSS,2011,790000.0
57506,2017-04,ANG MO KIO,5 ROOM,596C,ANG MO KIO ST 52,19 TO 21,110.0,Improved,2002,808000.0
57507,2017-04,ANG MO KIO,5 ROOM,588A,ANG MO KIO ST 52,16 TO 18,120.0,DBSS,2011,840000.0
57508,2017-04,ANG MO KIO,EXECUTIVE,614,ANG MO KIO AVE 4,04 TO 06,149.0,Apartment,1996,770000.0

In [5]:
min_price = df['resale_price'].min()
avg_price = df['resale_price'].mean()
std_price = df['resale_price'].std()

min_area = df['floor_area_sqm'].min()
avg_area = df['floor_area_sqm'].mean()
std_area = df['floor_area_sqm'].std()

print(f"Minimum resale price: ${min_price}")
print(f"Average resale price: ${avg_price:.2f}")
print(f"Standard deviation of resale price: ${std_price:.2f}")
print(f"Minimum floor area: {min_area} sqm")
print(f"Average floor area: {avg_area:.2f} sqm")
print(f"Standard deviation of floor area: {std_area:.2f} sqm")

Minimum resale price: $205000.0
Average resale price: $423596.75
Standard deviation of resale price: $154644.61
Minimum floor area: 44.0 sqm
Average floor area: 84.03 sqm
Standard deviation of floor area: 20.24 sqm